body {
  margin:0px;
  padding:0px;
}
* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
.main-wrapper {
  padding-left:25px;
  padding-right: 28px;
  width:1850px;
  padding-top:20px;
  display:flex;
  justify-content:space-between;
background-color:#0f181f;
color:white;
font-family: 'Roboto Slab', serif;

}
.main-wrapper button {
  outline:none;
  font-size: 15px;
  border:solid #0d5380;
  border-radius:5px;
  background-color:#0d5380;
  color: white;
  padding:10px;
  font-family: 'Roboto Slab', serif;
  transition:0.7s;
}
.main-wrapper button:hover {
  color:#1f4268;
  background-color:#dbdde0;
}

.dblce-toggle {
padding-left:40px;
}

.toggle {
  font-size:20px;
  font-family: 'Roboto Slab', serif;
  padding-left:15px;
}


.colors-wrap {
  width: 3px;
}
.test-wrap {
  font-family: 'Roboto Slab', serif;
    display:flex;
  justify-content:space-between;
  padding-top:5px;
  padding-left:140px;
  font-size: 13px;
  
}
.color-display {
  font-family: 'Roboto Slab', serif;
  color:white;
  margin:0px;
  width:110px;
 padding:10px;
  background-color:#0d5380;
}
.color {
  border:solid #0a1f38;
  border-width:5px;
  padding-right:51px;
  padding-bottom:5px;
}
.wrapper {
  display:flex;
  justify-content:space-between;
  position: absolute;
}
.width-wrap {
padding-left: 200px;
  padding-top:29px
}
canvas {
  cursor: crosshair;
}
@media (max-width: 1367px) {
.main-wrapper {
  width:1300px;
}
.color-display {
  width:120px;
}
}